@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&subset=latin-ext');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* VARIABLES */
/* out of use */
/* MIXINS */
.stretched {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin: auto;
}
.clearfix {
  clear: both;
  content: '';
  display: block;
}
.link-underline {
  text-decoration: underline;
}
.link-underline:hover {
  text-decoration: none;
}
.link-no-underline {
  text-decoration: none;
}
.link-no-underline:hover {
  text-decoration: underline;
}
/* BASE and GRID */
/* BODY */
html,
body {
  margin: 0px;
  padding: 0px;
  text-align: left;
}
body {
  background-color: #fff;
}
/* EXTRA RESET */
a {
  outline: none;
  cursor: pointer;
  -ms-user-select: none;
}
* {
  background-repeat: no-repeat;
}
textarea,
input {
  outline: none;
}
b,
strong {
  font-weight: 700;
}
*::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
p::-moz-selection {
  background-color: #b0a067;
  color: #ffffff;
}
*::selection,
h1::selection,
h2::selection,
h3::selection,
p::selection {
  background-color: #b0a067;
  color: #ffffff;
}
/* LAYOUT HELPERS */
.cb,
.clr {
  clear: both;
  font-size: 1px;
  line-height: 1px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.nowrap,
.nobr {
  white-space: nowrap;
}
.tal,
.text-left {
  text-align: left;
}
.tar,
.text-right {
  text-align: right;
}
.tac,
.text-center {
  text-align: center;
}
*,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}*/
input[type=submit] {
  -webkit-border-radius: 0px;
}
input,
select,
textarea {
  -webkit-user-select: text;
}
table {
  border-collapse: separate;
}
* {
  -webkit-text-size-adjust: none;
}
/**/
span.red {
  color: #b0a067;
}
/* CONTENT */
html {
  margin: 0px;
  padding: 0em;
  min-width: 320px;
  width: 100%;
  overflow: auto !important;
}
body {
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  min-width: 320px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
}
hr {
  border-collapse: collapse;
  border: none;
  border-bottom: 1px #ebebeb solid;
  margin-bottom: 15px;
}
.debug {
  width: 200px;
  padding: 5px;
  background: #fff;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99999;
  border: 1px black solid;
  display: none;
}
.debug p {
  padding: 0px;
  font-size: 13px;
  color: #000;
}
i {
  font-style: italic;
}
/* LAYOUT */
.layout {
  width: 100%;
  min-width: 320px;
}
.row {
  width: 100%;
  min-width: 320px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.row .inner {
  width: 100%;
  max-width: 1670px;
  padding: 0px 30px;
  position: relative;
  margin: auto;
  text-align: left;
}
.row .inner:after {
  clear: both;
  content: '';
  display: block;
}
.row .inner .col {
  float: left;
  position: relative;
}
.row p a {
  color: inherit;
  text-decoration: underline;
  color: #b0a067;
}
.row p a:hover {
  text-decoration: none;
  color: inherit;
}
.fly {
  opacity: 0;
  transition: all 600ms ease-in-out;
  transform: translateY(100px) scale(1.05) translate3d(0, 0, 0);
}
.show-block {
  opacity: 1;
  transform: translateY(0) scale(1) translate3d(0, 0, 0);
}
.box {
  border: 14px #b0a067 solid;
  position: absolute;
}
.box01 {
  left: 25%;
  right: 25%;
  height: 110px;
  top: 0px;
  border-top: none;
}
.box02 {
  left: 7%;
  right: 10%;
  height: 110px;
  top: 0px;
  border-top: none;
}
.box03 {
  left: 7%;
  right: -6%;
  top: 17%;
  bottom: 17%;
  z-index: 9;
}
@media (max-width: 1664px) {
  .box {
    border: 0.8413461538461539vw #b0a067 solid;
    position: absolute;
  }
  .box01 {
    left: 25%;
    right: 25%;
    height: 6.610576923076923vw;
    top: 0px;
    border-top: none;
  }
  .box02 {
    left: 7%;
    right: 10%;
    height: 2.8846153846153846vw;
    top: 0px;
    border-top: none;
  }
  .box03 {
    left: 7%;
    right: -6%;
    top: 17%;
    bottom: 17%;
    z-index: 9;
  }
}
@media (max-width: 768px) {
  .box {
    border: 10px #b0a067 solid;
    position: absolute;
  }
  .box01 {
    left: 25%;
    right: 25%;
    height: 45px;
    top: 0px;
    border-top: none;
  }
  .box02 {
    left: 7%;
    right: 10%;
    height: 45px;
    top: 0px;
    border-top: none;
  }
  .box03 {
    left: 0;
    right: auto;
    width: 45px;
    top: 10%;
    bottom: 10%;
    z-index: 9;
    border-left: none;
  }
}
/* TYPOGRAPHY */
.row.content {
  padding-top: 0px;
  padding-bottom: 0px;
}
.row.content .inner p {
  margin-bottom: 15px;
}
.row.content .inner ul {
  margin-left: 0px;
  margin-bottom: 15px;
}
.row.content .inner ul li {
  padding-left: 15px;
  list-style-type: disc;
}
.row.content .inner ul ul,
.row.content .inner ul ol {
  margin-left: 15px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.row.content .inner ol {
  margin-bottom: 15px;
  counter-reset: item;
}
.row.content .inner ol li {
  counter-increment: item;
}
.row.content .inner ol ul,
.row.content .inner ol ol {
  margin-left: 15px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.row.content .inner ol > li:before {
  display: inline-block;
  width: 1em;
  color: #000000;
  margin-right: 5px;
  content: counter(item) ".";
}
.row.content .inner h1 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  margin: auto;
}
.row.content .inner h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}
.row.content .inner h3 {
  font-size: 23px;
  line-height: 28px;
  font-weight: 700;
}
.row.content .inner table {
  border-spacing: 0px;
  border-collapse: 0px;
  margin-bottom: 20px;
  width: auto;
}
.row.content .inner table.fl {
  margin-right: 70px;
}
.row.content .inner table.fr {
  margin-left: 70px;
}
.row.content .inner table th {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  text-transform: uppercase;
  background: #251f59;
  border-right: 1px #ffffff solid;
  vertical-align: middle;
}
.row.content .inner table td {
  color: #000000;
  text-align: left;
  font-size: 13px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  background: #ffffff;
  vertical-align: middle;
  border-right: 1px #ffffff solid;
}
.row.content .inner table tr th:last-child {
  border: none;
}
.row.content .inner table tr td:last-child {
  border: none;
}
.row.content .inner table .odd td {
  background: #757575;
}
.row.content .inner table.center td,
.row.content .inner table.center th {
  text-align: center;
}
.row.content .inner img[align="left"],
.row.content .inner img[style*="float: left"],
.row.content .inner img[style*="float:left"] {
  margin: 5px 15px 0px 0px;
}
.row.content .inner img[align="right"],
.row.content .inner img[style*="float: right"],
.row.content .inner img[style*="float:right"] {
  margin: 5px 0px 0px 15px;
}
.row.content .inner article > img {
  margin-bottom: 30px;
  max-width: 100%;
}
.row.content .inner blockquote {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 28px;
  line-height: 39px;
  color: #656565;
  font-style: italic;
}
.row.content .inner blockquote:before {
  content: '"';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 63px;
  top: 0px;
}
/* HEADER */
.row.header {
  height: 150px;
  z-index: 9;
}
.row.header .inner {
  height: 150px;
}
.row.header .inner .logo {
  position: absolute;
  left: 30px;
  bottom: 0px;
}
.row.header .inner .logo img {
  width: 570px;
  height: auto;
}
.row.header .inner .lang {
  position: absolute;
  right: 30px;
  top: 75px;
  font-size: 20px;
}
.row.header .inner .lang ul {
  margin: 0px;
  padding: 0px;
  padding-right: 20px;
}
.row.header .inner .lang ul li {
  display: inline;
  margin-left: 35px;
  opacity: 0.5;
}
.row.header .inner .lang ul li a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.row.header .inner .lang ul li.active {
  opacity: 1;
}
@media (max-width: 1664px) {
  .row.header {
    height: 9.014423076923077vw;
  }
  .row.header .inner {
    height: 9.014423076923077vw;
  }
  .row.header .inner .logo {
    left: 1.8028846153846152vw;
    bottom: 0px;
  }
  .row.header .inner .logo img {
    width: 34.25480769230769vw;
  }
  .row.header .inner .lang {
    right: 1.8028846153846152vw;
    top: 4.507211538461538vw;
    font-size: 1.201923076923077vw;
  }
  .row.header .inner .lang ul {
    padding-right: 1.201923076923077vw;
  }
  .row.header .inner .lang ul li {
    margin-left: 2.1033653846153846vw;
  }
}
@media (max-width: 980px) {
  .row.header .inner .lang {
    font-size: 1.5024038461538463vw;
  }
}
@media (max-width: 768px) {
  .row.header {
    height: 55px;
  }
  .row.header .inner {
    height: 55px;
  }
  .row.header .inner .logo {
    left: 30px;
  }
  .row.header .inner .logo img {
    width: 170px;
  }
  .row.header .inner .lang {
    top: 20px;
    right: 30px;
    font-size: 14px;
  }
}
/* FOOTER */
.row.footer {
  background: #121212;
  padding-top: 40px;
  padding-bottom: 40px;
}
.row.footer .inner {
  text-align: center;
}
.row.footer .inner .copy {
  font-size: 15px;
  line-height: 18px;
  color: #757575;
}
@media (max-width: 1664px) {
  .row.footer {
    padding-top: 6.009615384615385vw;
    padding-bottom: 1.201923076923077vw;
  }
  .row.footer .inner .copy {
    font-size: 0.9014423076923076vw;
    line-height: 1.0817307692307692vw;
  }
}
@media (max-width: 980px) {
  .row.footer .inner .copy {
    font-size: 1.201923076923077vw;
    line-height: 1.3822115384615383vw;
  }
}
@media (max-width: 768px) {
  .row.footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .row.footer .inner .copy {
    font-size: 12px;
    line-height: 16px;
  }
}
/* BUTTONS */
.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.25s linear;
}
.btn.btn-default {
  background: #121212;
  border: 1px #121212 solid;
  padding: 25px 10px;
  min-width: 520px;
  color: #ffffff;
  box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 3px;
}
.btn.btn-default:hover {
  background: #ffffff;
  color: #121212;
}
.btn.btn-primary {
  background: #b0a067;
  border: 1px #b0a067 solid;
  padding: 25px 10px;
  min-width: 520px;
  color: #ffffff;
  box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 3px;
}
.btn.btn-primary:hover {
  background: #ffffff;
  color: #b0a067;
}
.btn.btn-secondary {
  background: #ffffff;
  border: 1px #ffffff solid;
  padding: 25px 10px;
  min-width: 520px;
  color: #000000;
  box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 3px;
}
.btn.btn-secondary:hover {
  background: #000000;
  color: #ffffff;
}
.btn.btn-blank {
  color: #b0a067;
  font-size: 22px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 3px;
}
.btn.btn-blank:hover {
  color: #000000;
}
@media (max-width: 1664px) {
  .btn.btn-default {
    padding: 1.5024038461538463vw 0.6009615384615385vw;
    min-width: 31.25vw;
    font-size: 0.9615384615384616vw;
    line-height: 0.9615384615384616vw;
    letter-spacing: 0.18028846153846154vw;
  }
  .btn.btn-primary {
    padding: 1.5024038461538463vw 0.6009615384615385vw;
    min-width: 31.25vw;
    font-size: 0.9615384615384616vw;
    line-height: 0.9615384615384616vw;
    letter-spacing: 0.18028846153846154vw;
  }
  .btn.btn-secondary {
    padding: 1.5024038461538463vw 0.6009615384615385vw;
    min-width: 31.25vw;
    font-size: 0.9615384615384616vw;
    line-height: 0.9615384615384616vw;
    letter-spacing: 0.18028846153846154vw;
  }
  .btn.btn-blank {
    font-size: 1.3221153846153846vw;
    line-height: 1.8028846153846152vw;
    margin-top: 1.201923076923077vw;
    letter-spacing: 0.18028846153846154vw;
  }
}
@media (max-width: 980px) {
  .btn.btn-default {
    font-size: 1.2620192307692308vw;
    line-height: 1.2620192307692308vw;
  }
  .btn.btn-primary {
    font-size: 1.2620192307692308vw;
    line-height: 1.2620192307692308vw;
  }
  .btn.btn-secondary {
    font-size: 1.2620192307692308vw;
    line-height: 1.2620192307692308vw;
  }
  .btn.btn-blank {
    font-size: 1.622596153846154vw;
    line-height: 2.1033653846153846vw;
  }
}
@media (max-width: 768px) {
  .btn.btn-default {
    padding: 18px 5px;
    min-width: 100%;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
  }
  .btn.btn-primary {
    padding: 18px 5px;
    min-width: 100%;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
  }
  .btn.btn-secondary {
    padding: 18px 5px;
    min-width: 100%;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
  }
  .btn.btn-blank {
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
    letter-spacing: 1px;
  }
}
.row.hero-banner {
  background-size: cover;
  margin-top: -150px;
  padding-top: 160px;
}
.row.hero-banner .cols {
  margin-left: -15px;
  margin-right: -15px;
}
.row.hero-banner .cols:after {
  clear: both;
  content: '';
  display: block;
}
.row.hero-banner .cols .col-right,
.row.hero-banner .cols .col-left {
  float: left;
  width: 50%;
  padding: 0px 15px;
}
.row.hero-banner .cols .col-left {
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 35px;
}
.row.hero-banner .cols .col-left h1 {
  font-size: 90px;
  line-height: 95px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}
.row.hero-banner .cols .col-left p {
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 150px;
  letter-spacing: 2px;
}
.row.hero-banner .subscribe {
  width: 662px;
  margin-bottom: 100px;
  padding: 30px 30px;
  background: #ffffff;
  float: right;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
}
.row.hero-banner .subscribe h2 {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.row.hero-banner .subscribe p {
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.row.hero-banner .subscribe .text2b h2 {
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.row.hero-banner .subscribe .text2b p {
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: none;
  font-size: 18px;
  line-height: 22px;
}
.row.hero-banner .subscribe .form-body {
  padding: 0px 20px;
  text-align: left;
}
.row.hero-banner .subscribe .form-row {
  margin-bottom: 25px;
}
.row.hero-banner .subscribe .form-row.form-row-selectbox .ui-selectmenu-button {
  height: 57px;
  border: 1px #d7dfe5 solid;
  color: #989898;
  font-weight: 700;
  width: 100%;
  padding-left: 25px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  border-radius: 0px;
  background: #ffffff;
  padding-top: 20px;
}
.row.hero-banner .subscribe .form-row.form-row-selectbox .ui-selectmenu-button .ui-selectmenu-icon {
  color: #989898 !important;
  background: none;
  text-indent: 0px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  position: relative;
  top: 5px;
}
.row.hero-banner .subscribe .form-row.form-row-selectbox .ui-selectmenu-button .ui-selectmenu-icon:after {
  content: '>';
}
.row.hero-banner .subscribe .form-row.form-row-buttonset p {
  display: inline;
  margin-right: 7px;
  font-size: 16px;
}
.row.hero-banner .subscribe .form-row.form-row-buttonset label {
  border: none;
  background-color: transparent;
  padding: 0px;
  color: #e1523d;
  text-transform: uppercase;
  box-shadow: none;
  font-size: 16px;
  margin-right: 18px;
  font-weight: 700;
}
.row.hero-banner .subscribe .form-row.form-row-buttonset label .ui-checkboxradio-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px #d7dfe5 solid;
  box-shadow: none;
  margin-right: 7px;
}
.row.hero-banner .subscribe .form-row.form-row-buttonset label.ui-state-active .ui-checkboxradio-icon {
  background: #e1523d;
  border: 1px #e1523d solid;
}
.row.hero-banner .subscribe .form-row.form-row-buttonset.form-row-agree {
  padding-top: 10px;
  padding-bottom: 10px;
}
.row.hero-banner .subscribe .form-row.form-row-buttonset.form-row-agree label {
  text-transform: none;
  font-weight: 400;
}
.row.hero-banner .subscribe .form-row.form-row-buttonset.form-row-agree label a {
  color: #e1523d;
}
.row.hero-banner .subscribe .form-row.form-row-submit input {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.25s linear;
  background: #000000;
  border: 1px #000000 solid;
  padding: 25px 10px;
  width: 100%;
  color: #ffffff;
  box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.05);
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
}
.row.hero-banner .subscribe .form-row.form-row-submit input:hover {
  background: #ffffff;
  color: #000000;
}
.row.hero-banner .subscribe .form-row.form-row-text input {
  height: 57px;
  border: 1px #d7dfe5 solid;
  color: #454545;
  width: 100%;
  padding-left: 25px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 700;
}
.row.hero-banner .subscribe .form-row.form-row-double {
  margin-left: -10px;
  margin-right: -10px;
}
.row.hero-banner .subscribe .form-row.form-row-double:after {
  clear: both;
  content: '';
  display: block;
}
.row.hero-banner .subscribe .form-row.form-row-double .col {
  float: left;
  width: 50%;
  padding: 0px 10px;
}
.row.hero-banner .claim {
  position: absolute;
  left: 70px;
  top: 0px;
  bottom: 100px;
  right: 900px;
  background: transparent url(../gfx/claim.png) center center no-repeat;
  background-size: contain;
  font-size: 0px;
  line-height: 0px;
}
@media (max-width: 1664px) {
  .row.hero-banner {
    margin-top: -8.5vw;
    padding-top: 9.615384615384617vw;
  }
  .row.hero-banner .cols {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row.hero-banner .cols .col-right,
  .row.hero-banner .cols .col-left {
    width: 50%;
    padding: 0px 15px;
  }
  .row.hero-banner .cols .col-left {
    padding-top: 6.009615384615385vw;
    padding-bottom: 2.1033653846153846vw;
  }
  .row.hero-banner .cols .col-left h1 {
    font-size: 5.408653846153847vw;
    line-height: 5.709134615384615vw;
    margin-bottom: 1.201923076923077vw;
    letter-spacing: 0.6009615384615385vw;
  }
  .row.hero-banner .cols .col-left p {
    font-size: 1.6826923076923077vw;
    line-height: 2.1033653846153846vw;
    margin-bottom: 15.024038461538462vw;
    letter-spacing: 0.1201923076923077vw;
  }
  .row.hero-banner .subscribe {
    width: 39.78365384615385vw;
    margin-bottom: 6.009615384615385vw;
    padding: 1.8028846153846152vw 1.8028846153846152vw;
    font-size: 1.141826923076923vw;
    line-height: 1.5024038461538463vw;
  }
  .row.hero-banner .subscribe h2 {
    font-size: 2.1634615384615383vw;
    line-height: 2.403846153846154vw;
    margin-bottom: 0.6009615384615385vw;
    letter-spacing: 0.1201923076923077vw;
  }
  .row.hero-banner .subscribe p {
    letter-spacing: 0.06009615384615385vw;
    margin-bottom: 0.6009615384615385vw;
  }
  .row.hero-banner .subscribe .text2b h2 {
    font-size: 1.8028846153846152vw;
    line-height: 2.1033653846153846vw;
    margin-bottom: 0.6009615384615385vw;
    letter-spacing: 0.1201923076923077vw;
  }
  .row.hero-banner .subscribe .text2b p {
    letter-spacing: 0.06009615384615385vw;
    margin-bottom: 0.6009615384615385vw;
    font-size: 1.0817307692307692vw;
    line-height: 1.3221153846153846vw;
  }
  .row.hero-banner .subscribe .form-body {
    padding: 0px 1.201923076923077vw;
  }
  .row.hero-banner .subscribe .form-row {
    margin-bottom: 1.5024038461538463vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-selectbox .ui-selectmenu-button {
    height: 3.4254807692307696vw;
    padding-left: 1.5024038461538463vw;
    font-size: 0.9615384615384616vw;
    line-height: 1.0817307692307692vw;
    letter-spacing: 0.06009615384615385vw;
    padding-top: 1.201923076923077vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-selectbox .ui-selectmenu-button .ui-selectmenu-icon {
    top: 0.3004807692307693vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset p {
    margin-right: 0.4206730769230769vw;
    font-size: 0.9615384615384616vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset label {
    font-size: 0.9615384615384616vw;
    margin-right: 1.0817307692307692vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset label .ui-checkboxradio-icon {
    width: 1.8028846153846152vw;
    height: 1.8028846153846152vw;
    margin-right: 0.6009615384615385vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset.form-row-agree {
    padding-top: 0.6009615384615385vw;
    padding-bottom: 0.6009615384615385vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-submit input {
    padding: 1.5024038461538463vw 0.6009615384615385vw;
    box-shadow: 0px 0px 1.5024038461538463vw 12px rgba(0, 0, 0, 0.05);
    font-size: 1.3221153846153846vw;
    line-height: 1.3221153846153846vw;
    letter-spacing: 0.18028846153846154vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-text input {
    height: 3.4254807692307696vw;
    padding-left: 1.5024038461538463vw;
    font-size: 0.9615384615384616vw;
    line-height: 1.0817307692307692vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-double {
    margin-left: -unit(0.6009615384615385%, vw);
    margin-right: -unit(0.6009615384615385%, vw);
  }
  .row.hero-banner .subscribe .form-row.form-row-double .col {
    padding: 0px 0.6009615384615385vw;
  }
  .row.hero-banner .claim {
    left: 4.206730769230769vw;
    top: 0px;
    bottom: 6.009615384615385vw;
    right: 54.08653846153846vw;
  }
}
@media (max-width: 980px) {
  .row.hero-banner .cols {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row.hero-banner .cols .col-right,
  .row.hero-banner .cols .col-left {
    width: auto;
    padding: 0px 15px;
    float: none;
  }
  .row.hero-banner .cols .col-right {
    width: 48.07692307692308vw;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .row.hero-banner .cols .col-left {
    padding-right: 50.480769230769226vw;
  }
  .row.hero-banner .cols .col-left h1 {
    font-size: 5.408653846153847vw;
    line-height: 5.709134615384615vw;
  }
  .row.hero-banner .cols .col-left p {
    font-size: 1.9230769230769231vw;
    line-height: 2.34375vw;
  }
  .row.hero-banner .subscribe {
    width: 48.07692307692308vw;
    font-size: 1.4423076923076923vw;
    line-height: 1.8028846153846152vw;
  }
  .row.hero-banner .subscribe h2 {
    font-size: 2.4639423076923075vw;
    line-height: 2.7043269230769234vw;
  }
  .row.hero-banner .subscribe p {
    letter-spacing: 0.06009615384615385vw;
  }
  .row.hero-banner .subscribe .text2b h2 {
    font-size: 2.1033653846153846vw;
    line-height: 2.403846153846154vw;
  }
  .row.hero-banner .subscribe .text2b p {
    font-size: 1.3822115384615383vw;
    line-height: 1.6826923076923077vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-selectbox .ui-selectmenu-button {
    font-size: 1.2620192307692308vw;
    line-height: 1.5024038461538463vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset p {
    margin-right: 0.4206730769230769vw;
    font-size: 1.2620192307692308vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset label {
    font-size: 1.2620192307692308vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-submit input {
    font-size: 1.622596153846154vw;
    line-height: 1.622596153846154vw;
  }
  .row.hero-banner .subscribe .form-row.form-row-text input {
    font-size: 1.2620192307692308vw;
    line-height: 1.5625vw;
  }
  .row.hero-banner .claim {
    right: 57.09134615384615vw;
  }
}
@media (max-width: 768px) {
  .row.hero-banner {
    margin-top: -55px;
    padding-top: 135px;
    background-position: center 0px;
    background-size: auto 700px;
  }
  .row.hero-banner .cols {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row.hero-banner .cols .col-right,
  .row.hero-banner .cols .col-left {
    width: auto;
    padding: 0px 15px;
    float: none;
  }
  .row.hero-banner .cols .col-right {
    width: auto;
    position: static;
    right: 0px;
    top: 0px;
  }
  .row.hero-banner .cols .col-left {
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .row.hero-banner .cols .col-left h1 {
    font-size: 60px;
    line-height: 65px;
  }
  .row.hero-banner .cols .col-left p {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 50px;
  }
  .row.hero-banner .subscribe {
    width: auto;
    margin-bottom: 0px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 20px 20px;
    float: none;
    font-size: 13px;
    line-height: 18px;
    background: #f5f5f5;
  }
  .row.hero-banner .subscribe h2 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .row.hero-banner .subscribe p {
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .row.hero-banner .subscribe .text2b h2 {
    font-size: 14px;
    line-height: 18px;
  }
  .row.hero-banner .subscribe .text2b p {
    font-size: 16px;
    line-height: 19px;
  }
  .row.hero-banner .subscribe .form-body {
    padding: 0px 0px;
  }
  .row.hero-banner .subscribe .form-row {
    margin-bottom: 20px;
  }
  .row.hero-banner .subscribe .form-row.form-row-selectbox .ui-selectmenu-button {
    height: 40px;
    width: 100%;
    padding-left: 20px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    padding-top: 10px;
  }
  .row.hero-banner .subscribe .form-row.form-row-selectbox .ui-selectmenu-button .ui-selectmenu-icon {
    top: 5px;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset p {
    margin-right: 7px;
    font-size: 13px;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset label {
    font-size: 14px;
    margin-right: 16px;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset label .ui-checkboxradio-icon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
  .row.hero-banner .subscribe .form-row.form-row-buttonset.form-row-agree {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .row.hero-banner .subscribe .form-row.form-row-submit input {
    padding: 15px 10px;
    width: 100%;
    box-shadow: 0px 0px 25px 12px rgba(0, 0, 0, 0.05);
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 1px;
  }
  .row.hero-banner .subscribe .form-row.form-row-text input {
    height: 40px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 14px;
  }
  .row.hero-banner .subscribe .form-row.form-row-double {
    margin-left: -7px;
    margin-right: -7px;
  }
  .row.hero-banner .subscribe .form-row.form-row-double .col {
    float: left;
    width: 50%;
    padding: 0px 7px;
  }
  .row.hero-banner .claim {
    position: static;
    left: 70px;
    top: 0px;
    bottom: 100px;
    right: 900px;
    margin-left: 55px;
    margin-right: 55px;
    background: transparent url(../gfx/claim.png) center 100px no-repeat;
    background-size: 250px auto;
    font-size: 0px;
    line-height: 0px;
    height: 400px;
    padding-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .row.hero-banner .claim {
    margin-left: 25px;
    margin-right: 25px;
    background: transparent url(../gfx/claim.png) center 100px no-repeat;
    background-size: contain;
    font-size: 0px;
    line-height: 0px;
    height: 400px;
    padding-bottom: 100px;
  }
}
.row.content.text-page .inner {
  padding: 170px 30px 120px 30px;
}
.row.content.text-page .inner.text-center {
  text-align: center;
}
.row.content.text-page .inner h2 {
  font-weight: 300;
  font-size: 57px;
  line-height: 72px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.row.content.text-page .inner h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: -15px;
  letter-spacing: 7px;
}
.row.content.text-page .inner p {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 3px;
  letter-spacing: 1px;
}
.row.content.text-page .inner.cols {
  padding: 0px 0px 0px 0px;
  /*display: -webkit-box;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-flex-flow: row;
		    justify-content: space-around;*/
}
.row.content.text-page .inner.cols:after {
  clear: both;
  content: '';
  display: block;
}
.row.content.text-page .inner.cols .col {
  /*padding:170px 0px 120px 0px;*/
  /*flex: 1 0 auto;*/
  height: auto;
  position: relative;
  /*&:before {
				    content:'';
				    float:left;
				    padding-top:100%;					
				}*/
}
.row.content.text-page .inner.cols .col .flex {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex!important;
}
.row.content.text-page .inner.cols .col .flex .article {
  -webkit-align-self: center!important;
  -ms-flex-item-align: center!important;
  -ms-grid-row-align: center!important;
  align-self: center!important;
}
.row.content.text-page .inner.cols .col .article {
  text-align: left;
  padding-left: 13%;
  padding-right: 13%;
}
.row.content.text-page .inner.cols .col .image {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-size: cover;
}
.row.content.text-page .inner.cols .col-5 {
  width: 50%;
  padding-bottom: 50%;
}
.row.content.text-page.text-page-white {
  color: #ffffff;
  background-color: #000000;
}
.row.content.text-page.text-page-white.text-page-white-type-2 .inner {
  padding: 150px 0px;
  padding-left: 5%;
  padding-right: 5%;
}
.row.content.text-page.text-page-white .btn {
  margin-top: 95px;
}
.row.content.text-page.text-page-image {
  background-size: cover;
}
.row.content.text-page.text-page-image .inner {
  padding: 290px 30px 230px 30px;
}
.row.content.text-page.text-page-image .inner .cols .col.col-6 {
  width: 50%;
}
.row.content.text-page.text-page-image .inner .cols .col.col-5 {
  width: 41.66%;
}
.row.content.text-page.text-page-image .inner .cols .col.offset-1 {
  margin-left: 8.33%;
}
.row.content.text-page.text-page-image .inner .cols .col.offset-3 {
  margin-left: 25%;
}
.row.content.text-page.text-page-image .inner .cols .col.offset-6 {
  margin-left: 50%;
}
.row.content.text-page.text-page-image .inner .cols .col .btn {
  text-align: center;
}
.row.content.text-page.text-page-type-2 .inner {
  padding-left: 17%;
  padding-right: 17%;
}
.row.content.text-page.text-page-type-2 .inner h2 {
  text-transform: none;
  letter-spacing: 5px;
  margin-bottom: 15px;
}
.row.content.text-page.text-page-type-2 .inner p {
  color: #656b6f;
  letter-spacing: 0.5px;
}
@media (max-width: 1664px) {
  .row.content.text-page .inner {
    padding: 10.216346153846153vw 1.8028846153846152vw 7.211538461538461vw 1.8028846153846152vw;
  }
  .row.content.text-page .inner h2 {
    font-size: 3.4254807692307696vw;
    line-height: 4.326923076923077vw;
    margin-bottom: 1.8028846153846152vw;
    letter-spacing: 0.1201923076923077vw;
  }
  .row.content.text-page .inner h3 {
    font-size: 1.3221153846153846vw;
    margin-bottom: 1.5024038461538463vw;
    margin-top: -unit(0.9014423076923076%, vw);
    letter-spacing: 0.4206730769230769vw;
  }
  .row.content.text-page .inner p {
    font-size: 1.3221153846153846vw;
    line-height: 1.9230769230769231vw;
    margin-bottom: 0.18028846153846154vw;
    letter-spacing: 0.06009615384615385vw;
  }
  .row.content.text-page .inner.cols .col .article {
    padding-left: 10%;
    padding-right: 10%;
  }
  .row.content.text-page .inner.cols .col-5 {
    width: 50%;
    padding-bottom: 50%;
  }
  .row.content.text-page.text-page-white.text-page-white-type-2 .inner {
    padding: 9.014423076923077vw 0px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .row.content.text-page.text-page-white .btn {
    margin-top: 5.709134615384615vw;
  }
  .row.content.text-page.text-page-image .inner {
    padding: 17.427884615384613vw 1.8028846153846152vw 13.822115384615385vw 1.8028846153846152vw;
  }
  .row.content.text-page.text-page-type-2 .inner {
    padding-left: 17%;
    padding-right: 17%;
  }
  .row.content.text-page.text-page-type-2 .inner h2 {
    letter-spacing: 0.3004807692307693vw;
    margin-bottom: 0.9014423076923076vw;
  }
  .row.content.text-page.text-page-type-2 .inner p {
    letter-spacing: 0px;
  }
}
@media (max-width: 980px) {
  .row.content.text-page .inner h2 {
    font-size: 4.507211538461538vw;
    line-height: 4.867788461538462vw;
  }
  .row.content.text-page .inner h3 {
    font-size: 1.6826923076923077vw;
  }
  .row.content.text-page .inner p {
    font-size: 1.622596153846154vw;
    line-height: 2.2235576923076925vw;
  }
}
@media (max-width: 768px) {
  .row.content.text-page .inner {
    padding: 100px 15px 80px 15px;
  }
  .row.content.text-page .inner h2 {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 15px;
    letter-spacing: 4px;
  }
  .row.content.text-page .inner h3 {
    font-size: 11px;
    margin-bottom: 20px;
    margin-top: -7px;
    letter-spacing: 5px;
  }
  .row.content.text-page .inner p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 3px;
    letter-spacing: 0px;
  }
  .row.content.text-page .inner.cols .col .article {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  .row.content.text-page .inner.cols .col .image {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-size: cover;
  }
  .row.content.text-page .inner.cols .col-5 {
    width: 100%;
    padding-bottom: 100%;
  }
  .row.content.text-page.text-page-white.text-page-white-type-2 .inner {
    padding: 90px 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .row.content.text-page.text-page-white .btn {
    margin-top: 45px;
  }
  .row.content.text-page.text-page-image .inner {
    padding: 100px 15px 80px 15px;
  }
  .row.content.text-page.text-page-image .inner .cols .col.col-6 {
    width: 100%;
  }
  .row.content.text-page.text-page-image .inner .cols .col.col-5 {
    width: 100%;
  }
  .row.content.text-page.text-page-image .inner .cols .col.offset-1 {
    margin-left: 0%;
  }
  .row.content.text-page.text-page-image .inner .cols .col.offset-3 {
    margin-left: 0%;
  }
  .row.content.text-page.text-page-image .inner .cols .col.offset-6 {
    margin-left: 0%;
  }
  .row.content.text-page.text-page-type-2 .inner {
    padding-left: 5%;
    padding-right: 5%;
  }
  .row.content.text-page.text-page-type-2 .inner h2 {
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .row.content.text-page.text-page-type-2 .inner p {
    letter-spacing: 0px;
  }
}
.row.info {
  padding-top: 80px;
  margin-bottom: 25px;
  padding-left: 5%;
  padding-right: 5%;
}
.row.info:after {
  clear: both;
  content: '';
  display: block;
}
.row.info > div:last-of-type:after {
  display: none;
}
.row.info .col {
  float: left;
  width: 33.3%;
  padding: 0px 30px;
}
.row.info .col:after {
  content: '';
  background: #eaeaea;
  width: 1px;
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 10px;
}
.row.info .col h3 {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  letter-spacing: 1px;
}
.row.info .col p {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1px;
}
@media (max-width: 1664px) {
  .row.info {
    padding-top: 4.807692307692308vw;
    margin-bottom: 1.5024038461538463vw;
    padding-left: 5%;
    padding-right: 5%;
  }
  .row.info .col {
    width: 33.3%;
  }
  .row.info .col:after {
    top: 20%;
    bottom: 20%;
    right: 0.6009615384615385vw;
  }
  .row.info .col h3 {
    font-size: 1.3221153846153846vw;
    line-height: 1.8028846153846152vw;
  }
  .row.info .col p {
    font-size: 1.3221153846153846vw;
    line-height: 1.5625vw;
  }
}
@media (max-width: 980px) {
  .row.info {
    padding-left: 0%;
    padding-right: 0%;
  }
  .row.info .col {
    width: 33.3%;
  }
  .row.info .col h3 {
    font-size: 1.622596153846154vw;
    line-height: 2.1033653846153846vw;
  }
  .row.info .col p {
    font-size: 1.622596153846154vw;
    line-height: 1.8629807692307692vw;
  }
}
@media (max-width: 768px) {
  .row.info {
    padding-top: 40px;
    margin-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
  }
  .row.info .col {
    float: left;
    width: 100%;
    padding: 0px 0px !important;
    margin-bottom: 20px;
  }
  .row.info .col:after {
    display: none;
  }
  .row.info .col h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .row.info .col p {
    font-size: 14px;
    line-height: 20px;
  }
}
.row.content.text-page .inner blockquote {
  font-style: normal !important;
  text-align: center;
}
.row.content.text-page .inner blockquote p {
  font-size: 56px;
  line-height: 70px;
  font-weight: 300;
  letter-spacing: 1px;
}
.row.content.text-page .inner blockquote p.person {
  padding-top: 30px;
  font-size: 19px;
  line-height: 30px;
  padding-bottom: 70px;
  font-weight: 400;
}
.row.content.text-page .inner blockquote p.person .img {
  width: 82px;
  height: 81px;
  display: inline-block;
  position: relative;
  margin-right: 15px;
  top: 35px;
}
.row.content.text-page .inner blockquote p.person .img img {
  width: 100%;
}
.row.content.text-page .inner blockquote:before {
  display: none;
}
.row.content.text-page .inner blockquote .btn {
  text-align: center;
  min-width: 420px;
}
@media (max-width: 1664px) {
  .row.content.text-page .inner blockquote p {
    font-size: 3.3653846153846154vw;
    line-height: 4.206730769230769vw;
    letter-spacing: 0.06009615384615385vw;
  }
  .row.content.text-page .inner blockquote p.person {
    padding-top: 1.8028846153846152vw;
    font-size: 1.141826923076923vw;
    line-height: 1.8028846153846152vw;
    padding-bottom: 4.206730769230769vw;
  }
  .row.content.text-page .inner blockquote p.person .img {
    width: 4.927884615384615vw;
    height: 4.867788461538462vw;
    margin-right: 0.9014423076923076vw;
    top: 1.9230769230769231vw;
  }
  .row.content.text-page .inner blockquote .btn {
    min-width: 25.240384615384613vw;
  }
}
@media (max-width: 980px) {
  .row.content.text-page .inner blockquote p {
    font-size: 3.6658653846153846vw;
    line-height: 4.507211538461538vw;
    letter-spacing: 0.06009615384615385vw;
  }
  .row.content.text-page .inner blockquote p.person {
    padding-top: 2.1033653846153846vw;
    font-size: 2.043269230769231vw;
    line-height: 2.7043269230769234vw;
    padding-bottom: 4.206730769230769vw;
  }
  .row.content.text-page .inner blockquote p.person .img {
    width: 5.228365384615385vw;
    height: 5.168269230769231vw;
    margin-right: 1.201923076923077vw;
    top: 2.2235576923076925vw;
  }
  .row.content.text-page .inner blockquote .btn {
    min-width: 25.240384615384613vw;
  }
}
@media (max-width: 768px) {
  .row.content.text-page .inner blockquote p {
    font-size: 36px;
    line-height: 40px;
  }
  .row.content.text-page .inner blockquote p.person {
    padding-top: 10px;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 20px;
    font-weight: 400;
  }
  .row.content.text-page .inner blockquote p.person .img {
    width: 82px;
    height: 81px;
    position: relative;
    margin-right: 15px;
    top: 0px;
    margin-bottom: 7px;
    display: block;
    margin: auto;
  }
  .row.content.text-page .inner blockquote p.person .img img {
    width: 100%;
  }
  .row.content.text-page .inner blockquote:before {
    display: none;
  }
  .row.content.text-page .inner blockquote .btn {
    text-align: center;
    min-width: 220px;
  }
}
.testimonials {
  background-position: left bottom;
  backgroud-size: contain;
  background-repeat: no-repeat;
}
.row.content.text-page .inner .list.list-testimonials {
  margin: 0px;
  padding: 0px;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 50px;
}
.row.content.text-page .inner .list.list-testimonials:after {
  clear: both;
  content: '';
  display: block;
}
.row.content.text-page .inner .list.list-testimonials .item {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 33.33%;
  padding: 0px 15px;
  list-style-type: none;
}
.row.content.text-page .inner .list.list-testimonials .item article {
  border: 2px #ebf1f3 solid;
  border-radius: 3px;
  padding: 20px 30px;
  text-align: left;
  min-height: 225px;
  background: #fff;
}
.row.content.text-page .inner .list.list-testimonials .item article p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
}
.row.content.text-page .inner .list.list-testimonials .item article h3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 30px;
  padding-top: 0px;
  position: relative;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 2px;
}
.row.content.text-page .inner .list.list-testimonials .item article h3 .img {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  margin-right: 12px;
  overflow: hidden;
  border-radius: 50%;
  top: 18px;
}
.row.content.text-page .inner .list.list-testimonials .item article h3 .img img {
  width: 100%;
}
@media (max-width: 1664px) {
  .row.content.text-page .inner .list.list-testimonials {
    margin-left: -unit(0.4206730769230769%, vw);
    margin-right: -unit(0.4206730769230769%, vw);
    padding-top: 3.0048076923076925vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item {
    width: 33.33%;
    padding: 0px 0.4507211538461538vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article {
    padding: 1.201923076923077vw 1.8028846153846152vw;
    min-height: 13.521634615384615vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article p {
    font-size: 1.0817307692307692vw;
    line-height: 1.5024038461538463vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article h3 {
    font-size: 1.0817307692307692vw;
    line-height: 1.0817307692307692vw;
    margin-bottom: 1.8028846153846152vw;
    letter-spacing: 0.1201923076923077vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article h3 .img {
    width: 3.0048076923076925vw;
    height: 3.0048076923076925vw;
    margin-right: 0.7211538461538461vw;
    top: 1.0817307692307692vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article h3 .img img {
    width: 100%;
  }
}
@media (max-width: 980px) {
  .row.content.text-page .inner .list.list-testimonials {
    margin-left: -unit(0.6009615384615385%, vw);
    margin-right: -unit(0.6009615384615385%, vw);
    padding-top: 3.3052884615384617vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item {
    width: 33.33%;
    padding: 0px 0.6009615384615385vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article {
    padding: 1.5024038461538463vw 1.8028846153846152vw;
    min-height: 13.521634615384615vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article p {
    font-size: 1.3822115384615383vw;
    line-height: 1.8028846153846152vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article h3 {
    font-size: 1.3822115384615383vw;
    line-height: 1.3822115384615383vw;
    margin-bottom: 2.1033653846153846vw;
    letter-spacing: 0.1201923076923077vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article h3 .img {
    width: 3.3052884615384617vw;
    height: 3.3052884615384617vw;
    margin-right: 1.0216346153846154vw;
    top: 1.2620192307692308vw;
  }
  .row.content.text-page .inner .list.list-testimonials .item article h3 .img img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .row.content.text-page .inner .list.list-testimonials {
    margin: 0px;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 25px;
  }
  .row.content.text-page .inner .list.list-testimonials .item {
    margin: 0px;
    padding: 0px;
    float: none;
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 20px;
  }
  .row.content.text-page .inner .list.list-testimonials .item article {
    border: 2px #ebf1f3 solid;
    border-radius: 3px;
    padding: 20px 30px;
    text-align: left;
    min-height: 10px;
    background: #fff;
  }
  .row.content.text-page .inner .list.list-testimonials .item article p {
    font-size: 14px;
    line-height: 20px;
  }
  .row.content.text-page .inner .list.list-testimonials .item article h3 {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 30px;
    padding-top: 0px;
    position: relative;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 2px;
  }
  .row.content.text-page .inner .list.list-testimonials .item article h3 .img {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    margin-right: 12px;
    overflow: hidden;
    border-radius: 50%;
    top: 18px;
  }
  .row.content.text-page .inner .list.list-testimonials .item article h3 .img img {
    width: 100%;
  }
}
.row.content.training .inner .cols .col {
  width: 25%;
  margin: 0px;
  padding: 0px;
}
.row.content.training .inner .cols .col article a {
  text-decoration: none;
}
.row.content.training .inner .cols .col article.training-1 .txt {
  background: transparent url(../gfx/background/back-02.jpg) 0px 0px no-repeat;
  background-size: cover;
}
.row.content.training .inner .cols .col article.training-2 .txt {
  background: transparent url(../gfx/background/back-03.jpg) 0px 0px no-repeat;
  background-size: cover;
}
.row.content.training .inner .cols .col article.training-3 .txt {
  background: transparent url(../gfx/background/back-04.jpg) 0px 0px no-repeat;
  background-size: cover;
}
.row.content.training .inner .cols .col article.training-4 .txt {
  background: transparent url(../gfx/background/back-05.jpg) 0px 0px no-repeat;
  background-size: cover;
}
.row.content.training .inner .cols .col article .txt {
  height: 375px;
  background: #121212;
  padding-top: 61px;
  text-align: center;
}
.row.content.training .inner .cols .col article .txt h2 {
  margin: auto;
  text-transform: uppercase;
  width: 324px;
  height: 124px;
  background: transparent url(../gfx/icon/btn02.png) 0px 0px no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 7px;
  text-align: center;
  padding-top: 22px;
  padding-right: 19px;
  margin-bottom: 40px;
}
.row.content.training .inner .cols .col article .txt p {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  padding-right: 60px;
  padding-left: 60px;
}
.row.content.training .inner .cols .col article .img {
  height: 420px;
  position: relative;
  background-size: cover;
}
.row.content.training .inner .cols .col article .img:after {
  content: '';
  position: absolute;
  width: 152px;
  height: 152px;
  background: transparent url(../gfx/icon/btn01.png) 0px 0px no-repeat;
  background-size: cover;
  margin-left: -76px;
  margin-top: -76px;
  left: 50%;
  top: 50%;
}
@media (max-width: 1664px) {
  .row.content.training .inner .cols .col {
    width: 25%;
  }
  .row.content.training .inner .cols .col article .txt {
    height: 22.536057692307693vw;
    padding-top: 3.6658653846153846vw;
  }
  .row.content.training .inner .cols .col article .txt h2 {
    width: 19.471153846153847vw;
    height: 7.451923076923077vw;
    font-size: 1.8028846153846152vw;
    line-height: 1.8028846153846152vw;
    letter-spacing: 0.4206730769230769vw;
    padding-top: 1.3221153846153846vw;
    padding-right: 1.141826923076923vw;
    margin-bottom: 2.403846153846154vw;
  }
  .row.content.training .inner .cols .col article .txt p {
    font-size: 1.0817307692307692vw;
    line-height: 1.3822115384615383vw;
    padding-right: 3.6057692307692304vw;
    padding-left: 3.6057692307692304vw;
  }
  .row.content.training .inner .cols .col article .img {
    height: 25.240384615384613vw;
  }
  .row.content.training .inner .cols .col article .img:after {
    width: 9.134615384615383vw;
    height: 9.134615384615383vw;
    margin-left: -4.567307692307692vw;
    margin-top: -4.567307692307692vw;
    left: 50%;
    top: 50%;
  }
}
@media (max-width: 980px) {
  .row.content.training .inner .cols .col {
    width: 50%;
  }
  .row.content.training .inner .cols .col article .txt {
    height: 23.137019230769234vw;
    padding-top: 3.6658653846153846vw;
  }
  .row.content.training .inner .cols .col article .txt h2 {
    width: 19.471153846153847vw;
    height: 7.451923076923077vw;
    font-size: 1.8028846153846152vw;
    line-height: 1.8028846153846152vw;
    letter-spacing: 0.4206730769230769vw;
    padding-top: 1.3221153846153846vw;
    padding-right: 1.141826923076923vw;
    margin-bottom: 2.403846153846154vw;
  }
  .row.content.training .inner .cols .col article .txt p {
    font-size: 1.6826923076923077vw;
    line-height: 1.9831730769230769vw;
    padding-right: 3.6057692307692304vw;
    padding-left: 3.6057692307692304vw;
  }
  .row.content.training .inner .cols .col article .img {
    height: 25.240384615384613vw;
  }
  .row.content.training .inner .cols .col article .img:after {
    width: 9.134615384615383vw;
    height: 9.134615384615383vw;
    margin-left: -4.567307692307692vw;
    margin-top: -4.567307692307692vw;
    left: 50%;
    top: 50%;
  }
}
@media (max-width: 768px) {
  .row.content.training .inner .cols .col {
    width: 100%;
  }
  .row.content.training .inner .cols .col article .txt {
    height: 375px;
    padding-top: 61px;
  }
  .row.content.training .inner .cols .col article .txt h2 {
    width: 324px;
    height: 124px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 7px;
    padding-top: 22px;
    padding-right: 19px;
    margin-bottom: 40px;
  }
  .row.content.training .inner .cols .col article .txt p {
    font-size: 18px;
    line-height: 23px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .row.content.training .inner .cols .col article .img {
    height: 420px;
  }
  .row.content.training .inner .cols .col article .img:after {
    width: 152px;
    height: 152px;
    margin-left: -76px;
    margin-top: -76px;
    left: 50%;
    top: 50%;
  }
}
@media (max-width: 430px) {
  .row.content.training .inner {
    padding-left: 0px;
    padding-right: 0px;
  }
  .row.content.training .inner .cols .col article .txt {
    height: 375px;
    padding-top: 61px;
  }
  .row.content.training .inner .cols .col article .txt h2 {
    width: 224px;
    height: 94px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;
    padding-top: 17px;
    padding-right: 19px;
    margin-bottom: 40px;
    background-size: contain;
    background-position: left top;
  }
  .row.content.training .inner .cols .col article .txt p {
    font-size: 18px;
    line-height: 23px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .row.content.training .inner .cols .col article .img {
    height: 420px;
  }
  .row.content.training .inner .cols .col article .img:after {
    width: 152px;
    height: 152px;
    margin-left: -76px;
    margin-top: -76px;
    left: 50%;
    top: 50%;
  }
}
.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  text-align: center;
}
.overlay .popup {
  position: absolute;
  width: 1260px;
  height: 760px;
  padding: 150px;
  top: 200px;
  left: 50%;
  margin-left: -630px;
  background: #ffffff;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex!important;
}
.overlay .popup .close {
  position: absolute;
  right: 60px;
  top: 50px;
  color: #989898;
  text-decoration: none;
  font-size: 42px;
  line-height: 42px;
  font-weight: 400;
}
.overlay .popup .close:hover {
  color: #121212;
}
.overlay .popup .article {
  -webkit-align-self: center!important;
  -ms-flex-item-align: center!important;
  -ms-grid-row-align: center!important;
  align-self: center!important;
  text-align: center;
  width: 100%;
}
.overlay .popup .article h1 {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
}
.overlay .popup .article h2 {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 25px;
  font-weight: 700;
  letter-spacing: 10px;
  opacity: 0.5;
}
.overlay .popup .article p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 35px;
}
.overlay .popup .article .social {
  padding-top: 20px;
}
.overlay .popup .article .social a {
  color: #000;
  font-size: 60px;
  margin: 0px 25px;
}
@media (max-width: 1664px) {
  .overlay .popup {
    width: 75.72115384615384vw;
    height: 45.67307692307692vw;
    padding: 9.014423076923077vw;
    top: 12.01923076923077vw;
    left: 50%;
    margin-left: -37.86057692307692vw;
  }
  .overlay .popup .close {
    right: 3.6057692307692304vw;
    top: 3.0048076923076925vw;
    font-size: 2.5240384615384617vw;
    line-height: 2.5240384615384617vw;
  }
  .overlay .popup .article h1 {
    font-size: 4.807692307692308vw;
    line-height: 4.807692307692308vw;
    margin-bottom: 1.5024038461538463vw;
    letter-spacing: 0.6009615384615385vw;
  }
  .overlay .popup .article h2 {
    font-size: 1.8028846153846152vw;
    line-height: 2.1033653846153846vw;
    margin-bottom: 1.5024038461538463vw;
  }
  .overlay .popup .article p {
    font-size: 1.3221153846153846vw;
    line-height: 1.8028846153846152vw;
    margin-bottom: 2.1033653846153846vw;
  }
  .overlay .popup .article .social {
    padding-top: 1.201923076923077vw;
  }
  .overlay .popup .article .social a {
    font-size: 3.6057692307692304vw;
    margin: 0px 1.5024038461538463vw;
  }
}
@media (max-width: 980px) {
  .overlay .popup .close {
    font-size: 2.8846153846153846vw;
    line-height: 2.8846153846153846vw;
  }
  .overlay .popup .article h1 {
    font-size: 5.108173076923077vw;
    line-height: 5.108173076923077vw;
  }
  .overlay .popup .article h2 {
    font-size: 2.403846153846154vw;
    line-height: 2.7043269230769234vw;
  }
  .overlay .popup .article p {
    font-size: 1.622596153846154vw;
    line-height: 2.1033653846153846vw;
  }
  .overlay .popup .article .social a {
    font-size: 3.90625vw;
    margin: 0px 1.8028846153846152vw;
  }
}
@media (max-width: 768px) {
  .overlay .popup {
    position: absolute;
    width: auto;
    height: auto;
    padding: 60px 40px;
    top: 80px;
    left: 60px;
    right: 60px;
    margin-left: 0px;
    background: #ffffff;
  }
  .overlay .popup .article h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    letter-spacing: 5px;
  }
  .overlay .popup .article h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    opacity: 0.5;
  }
  .overlay .popup .article p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .overlay .popup .article .social {
    padding-top: 20px;
  }
  .overlay .popup .article .social a {
    font-size: 40px;
    margin: 0px 20px;
  }
}
